.container-fluid{
  padding: 0px;
}
#FooterNav{
  text-decoration: none;
  color: white;
  margin-top: 5rem;
}
.Footer{
  height: 30vh;
  background-color: black;
}
ul li{
  display: inline-block;
}

/* Gallery */

.WorkImgRW{
  width: 100%;
  height: 100%;
}
.WorkImg{
  width: 49%;
  /* height: 50%; */
}
.WorkTd{
  width: 50;
}
