.recharts-responsive-container{
  height: 400px!important;
}
.container-fluid{
  padding: 0px;
}
#FooterNav{
  text-decoration: none;
  color: white;
  margin-top: 5rem;
}
.Footer{
  height: 30vh;
  background-color: black;
}
ul li{
  display: inline-block;
}
/* Grafik */
