.home{
  background-image: url(..//picture/bgcolor.jpg);
  background-size: cover;
  background-position-y: 100%;
  height: 100vh;
}
#lorem{
  margin-left: 10%;
  margin-top: 5%;
  color: #4E66A6;
}
#digital{
  margin-bottom: 2%;
}
#HomeImg{
  margin-top: 20%;
  margin-left: -4%;
  width: 90%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.HomeImgDiv{
  background-color: white;
  margin-top: 10%;
  margin-left: 4%;
  /* height: 50%; */
  width: 40%;
  box-shadow: 6px 6px 6px rgba(177, 176, 176, 0.8);
  opacity: 0.8;
  border-radius: 10px;
}

/* Home Icon */
#homeIconDiv{
  margin-left: 10%;
}
#faIns{
  color: crimson;
  font-size: 30px;
  margin-left: 3%;
}
#faTeg{
  color: rgb(0, 157, 255);
  font-size: 30px;
  margin-left: 3%;
}
#faGit{
  color: black;
  font-size: 30px;
  margin-left: 3%;
}
.row{
  margin-right: calc(var(--bs-gutter-x) * -.0);
  margin-left: calc(var(--bs-gutter-x) * -.0); 
}
