.home{
  background-image: url(..//picture/bgcolor.jpg);
  background-size: cover;
  background-position-y: 100%;
  height: 100vh;
}
#lorem{
  margin-left: 3.5rem;
  margin-top: 1.5rem;
  color: royalblue;
}
#digital{
  margin-bottom: 0.2rem;
}
#HomeImg{
  margin-top: 6.5rem;
  /* margin-left: %; */
  width: 90%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.HomeImgDiv{
  background-color: white;
  margin-top: 6.7rem;
  margin-left: 3rem;
  width: 40%;
  box-shadow: 6px 6px 6px rgba(177, 176, 176, 0.8);
  opacity: 0.8;
  border-radius: 10px;
}
#HomeBtn{
  margin: 0rem 3.2rem;
}
/* Home Icon */
#homeIconDiv{
  margin-left: 2.2rem;
  margin-bottom: 1rem;
}
#faIns{
  color: crimson;
  font-size: 1.8rem;
  margin-left: 1rem;
}
#faTeg{
  color: rgb(0, 157, 255);
  font-size: 1.8rem;
  margin-left: 1rem;
}
#faGit{
  color: black;
  font-size: 1.8rem;
  margin-left: 1rem;
}
.row{
  margin-right: calc(var(--bs-gutter-x) * -.0);
  margin-left: calc(var(--bs-gutter-x) * -.0); 
}
