.header{
  background-color: #FF4903;
  padding: 0.5% 2%;
}
.nav{
  padding: 0px;
  margin: 0px;
  position: sticky;
  top: 0px;
  z-index: 999;
  box-shadow: 0px 1px 2px #FF4903;
}
#nav{
  color: white;
}
#nav:focus{
  color: yellow;
}
.nav-item{
  margin-left: 10%;
}
.nav-link{
  font-weight: 700;
}
.nav-link:focus{
  border-bottom: 2px solid yellow;
}
#logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  margin-left: 2%;
  color: white;
}