#AboutHeader{
  background-color: #FF4903;
  height: 50vh;
}
.Abouth1{
  opacity: 0.9;
  color: white;
  text-align: center;
}
.AboutBlock_1{
  padding-left: 5rem;
}
#AboutImg{
  width: 95%;
  border-radius: 100px
}
.AboutMe{
  opacity: 0.5;
  font-weight: 600;
  font-style: italic;
  letter-spacing: normal;
  color: #FF4903;
}
.AboutName{
  color: #FF4903;
  text-transform: uppercase;
}
#AboutBtn{
  margin-left: 0rem;
}
.AboutBoday{
  padding: 1.8rem 2.5rem;
}
.AboutHr1{
  margin-left: 1.8rem;
  width: 15%;
  background-color: #FF4903;
  margin-bottom: 4px;
}
.AboutHr2{
  margin-left: -1.25rem;
  width: 15%;
  background-color: #FF4903;
  margin-top: -0.13rem;
}
.AboutHr3{
  width: 10%;
  background-color: white;
  position: relative;
  top: 32%;
  left: 50%;
}
.AboutHr4{
  margin-left: 33rem;
  width: 10%;
  background-color: white;
}
.AboutAnimated{
  background-color: #FF4903;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem;
  font-weight: 700;
  font-size: larger;
}