*{
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: sans-serif;
}
.HeaderBox{
  background-color: #4E66A6;
  height: 50vh;
}
.HeaderH1{
  opacity: 0.9;
  color: white;
  text-align: center;
  margin-top: 10%;
}
.App{
  padding: 0px;
}
#HomeBtn{
  margin: 0% 10%;
  text-decoration: none;
  color: white;
  padding: 2% 4%;
  border: 0px;
  border-radius: 10px;
  width: 30%;
  font-weight: 600;
}
#HomeBtn:focus{
  color: black;
}
#HomeBtn:hover{
  color: black;
}