*{
  /* border: 1px solid red; */
  box-sizing: border-box;
}
.App{
  padding: 0px;
}
.header{
  background-color: rgba(14, 46, 134, 0.733);
  padding: 0.5% 2%;
}
.nav{
  padding: 0px;
  margin: 0px;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.nav-item{
  margin-left: 10%;
}
#logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  margin-left: 2%;
  color: wheat;
}